<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <p>Welcome to <%= title %>
  </p>
  <ul>
    <% if (user) { %>
      <li><a href="/">Main</a></li>
      <li><a href="/recipe/new">Add Recipe</a></li>
      <li><a href="/ingredient/new">Add Ingredient</a></li>
      <li><a href="/logout">Log Out</a></li>
      <% } else { %>
        <li><a href="/auth/google">Log In</a></li>
        <% } %>
  </ul>
  <h1>Recipe List</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Prep Time</th>
        <th>Show More</th>
      </tr>
      <tbody>
        <% recipe.forEach(function(r) { %>
          <tr>
            <td><%= r.name %></td>
            <td><%= r.prepTime %></td>
            <td><a href="/recipe/<%= r._id %>">DETAILS</a></td>
        </tr>
          <% }); %>
      </tbody>

    </thead>
</body>

</html>