<!DOCTYPE html>
<html>

<head>
    <title>
        Add Recipe
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="single-recipe-page">
  <% if (user) { %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="/recipe/new">Add Recipe <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="/ingredient/new">Add Ingredient <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="/recipe/index">Recipe List <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link active" href="/logout">Log Out <span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>

    <br><br>
    <h2>Recipe</h2>
    <br><br>

  <table class="table" id="table-1">
    <thead>
      <tr>
        <th scope="col">Recipe Name:</th>
        <th scope="col">Minutes to Prepare:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><%= recipe.name %></th>
        <td><%= recipe.prepTime %></td>
      </tr>
    </tbody>
  </table>

    <br><br>
    <h3>Notes</h3>
    <br><br>
    <form id="add-comment-form" method="POST"
  action="/recipe/<%= recipe._id %>/comment" class="comment-form">
  <label>Comment</label>
  <textarea name="content"></textarea>
  <label>Would you recommend this recipe?</label>
  <select name="recommend">
    <option value="Yes!">Yes!</option>
    <option value="Maybe">Maybe</option>
    <option value="No!">No!</option>
  </select>
  <input type="submit" value="Add Note">
  </form>
  <% if (recipe.comment.length) { %>
    <table class="table" id="table-2">
      <thead>
        <tr>
          <th scope="col">Note</th>
          <th scope="col">Recommended?</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% recipe.comment.forEach(function(c) { %>
          <tr>
            <td><%= c.content %></td>
            <td><%= c.recommend %></td>
            <td><form action="/recipe/<%= recipe._id %>/comment/<%= c._id %>?_method=DELETE"
              id="delete-form" method="POST">
              <button type="submit">X</button></form></td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Notes Yet!</h5>
  <% } %>


  <br><br>
    <h4>Ingredients</h4>
    <form id="add-ingredient-form" method="POST"
  action="/recipe/<%= recipe._id %>/ingredient">
  <label>Add Ingredient</label>
  <select name="ingredientId">
    <% ingredients.forEach(function(ingredient) { %>
        <option value="<%= ingredient.id %>"> <%= ingredient.name %></option>
    <% }) %>
</select>
  <input type="submit" value="Add Ingredient">
    </form>

  <% if (recipe.ingredients.length) { %>
    <table class="table" id="table-2">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Region</th>
          
        </tr>
      </thead>
      <tbody>
        <% recipe.ingredients.forEach(function(i) { %>
          <tr>
            <td><%= i.name %></td>
            <td><%= i.region %></td>
            
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Ingredients Yet</h5>
  <% } %>

  <% } else { %>
    <li><a href="/auth/google">Log In</a></li>
    <% } %>

</body>
</html>