<!DOCTYPE html>
<html>

<head>
    <title>
        Add Recipe
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <ul>
        <% if (user) { %>
            <li><a href="/">Home</a></li>
            <li><a href="/private">Private Page</a></li>
            <li><a href="/logout">Log Out</a></li>
            
    </ul>

    <h2>Recipe</h2>

    <div>Name: </div>
    <div><%= recipe.name %></div>
    <div>Minutes to Prepare: </div>
    <div><%= recipe.prepTime %></div>

    <h3>Notes</h3>
    <form id="add-comment-form" method="POST"
  action="/recipe/<%= recipe._id %>/comment">
  <label>Comment</label>
  <textarea name="content"></textarea>
  <label>Would you recommend this recipe?</label>
  <select name="recommend">
    <option value="Yes!">Yes!</option>
    <option value="Maybe">Maybe</option>
    <option value="No!">No!</option>
  </select>
  <input type="submit" value="Add Note">
  </form>
  <% if (recipe.comment.length) { %>
    <table>
      <thead>
        <tr>
          <th>Note</th>
          <th>Recommended?</th>
        </tr>
      </thead>
      <tbody>
        <% recipe.comment.forEach(function(c) { %>
          <tr>
            <td><%= c.content %></td>
            <td><%= c.recommend %></td>
            <td><form action="/recipe/<%= recipe._id %>/comment/<%= c._id %>?_method=DELETE"
              id="delete-form" method="POST">
              <button type="submit">X</button></form></td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Notes Yet</h5>
  <% } %>

    <h4>Ingredients</h4>
    <form id="add-ingredient-form" method="POST"
  action="/recipe/<%= recipe._id %>/ingredient">
  <label>Add Ingredient</label>
  <select name="ingredientId">
    <% ingredients.forEach(function(ingredient) { %>
        <option value="<%= ingredient.id %>"> <%= ingredient.name %></option>
    <% }) %>
</select>
  <input type="submit" value="Add Ingredient">
    </form>

  <% if (recipe.ingredients.length) { %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Region</th>
        </tr>
      </thead>
      <tbody>
        <% recipe.ingredients.forEach(function(i) { %>
          <tr>
            <td><%= i.name %></td>
            <td><%= i.region %></td>
            <td><form action="/recipe/<%= recipe._id %>/ingredient/<%= i._id %>?_method=DELETE"
              id="delete-form" method="POST">
              <button type="submit">X</button></form></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Ingredients Yet</h5>
  <% } %>

  <% } else { %>
    <li><a href="/auth/google">Log In</a></li>
    <% } %>

</body>
</html>